*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#0f172a;
}

.calculator{
  background:#1e293b;
  padding:25px;
  border-radius:20px;
  box-shadow:0 0 25px rgba(0,0,0,0.5);
  width:350px;
}

#display{
  width:100%;
  height:70px;
  margin-bottom:20px;
  border:none;
  outline:none;
  border-radius:10px;
  padding:15px;
  font-size:28px;
  text-align:right;
  background:#0f172a;
  color:white;
}

.buttons{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:15px;
}

button{
  height:65px;
  border:none;
  border-radius:10px;
  font-size:22px;
  cursor:pointer;
  background:#334155;
  color:white;
  transition:0.3s;
}

button:hover{
  background:#38bdf8;
  color:black;
}

.equal{
  grid-column:span 2;
  background:#38bdf8;
  color:black;
}