*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  background:#f4f4f4;
  color:#333;
}

header{
  background:#111;
  color:white;
  text-align:center;
  padding:60px 20px;
}

header h1{
  font-size:48px;
}

header p{
  margin-top:10px;
  font-size:20px;
}

section{
  padding:50px 10%;
}

h2{
  margin-bottom:20px;
}

.skill-box{
  display:inline-block;
  background:#222;
  color:white;
  padding:10px 20px;
  margin:10px;
  border-radius:5px;
}

.card{
  background:white;
  padding:20px;
  margin-top:20px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.contact{
  background:#111;
  color:white;
}